# data
data
*.csv
*.bin
*.zip
*.npy

#misc
*.vscode
*.venv
*checkpoint*
**/log.txt
*.log

#python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.npz
*.nev
*.ns5
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
venv/
.env
*.so
*.dylib
