processor:
  verbose: true
  fs: 30000.0
  downsample_rate: 1.0 # Note, has no effect yet
  channel: 1
  enable_debug_logging: true
  log_context_samples: 3
  save_raw_data: true
  
filters:
  bandpass_filters:
    - id: ied_filter
      f_low: 80.0
      f_high: 120.0
    - id: slow_wave_filter
      f_low: 0.25
      f_high: 4.0

detectors:
  wave_peak_detectors:
    - id: slow_wave_detector
      filter_id: slow_wave_filter
      z_score_threshold: 1.0
      sinusoidness_threshold: 0.7
      check_sinusoidness: false
      wave_polarity: downwave
      min_wave_length_ms: 250.0
      max_wave_length_ms: 2000.0
    - id: ied_detector
      filter_id: ied_filter
      z_score_threshold: 3.0
      sinusoidness_threshold: 0.0
      check_sinusoidness: false
      wave_polarity: upwave
      min_wave_length_ms: null
      max_wave_length_ms: null

triggers:
  pulse_triggers:
    - id: pulse_trigger
      activation_detector_id: slow_wave_detector
      inhibition_detector_id: ied_detector
      inhibition_cooldown_ms: 2500.0
      pulse_cooldown_ms: 2500.0

visualization:
  enabled: true                    # Set to false to disable visualization
  window_width: 1400               # Window width in pixels
  window_height: 900               # Window height in pixels
  buffer_size: 5000                # Number of samples to keep in memory for plotting
  update_interval_ms: 16           # Update interval (~60 FPS)
  show_raw_signal: true            # Show raw signal plot
  show_filtered_signals: true      # Show filtered signal plots
  show_detections: true            # Show detection markers and statistics
  plot_height_per_signal: 180      # Height of each plot in pixels