processor:
  verbose: true
  fs: 512.0  # 30kHz sampling rate
  downsample_rate: 1.0 # Note, has no effect yet
  channel: 1
  enable_debug_logging: true
  save_raw_data: false

filters:
  bandpass_filters:
    - id: ied_filter
      f_low: 80.0
      f_high: 120.0
    - id: slow_wave_filter
      f_low: 0.25
      f_high: 4.0

detectors:
  wave_peak_detectors:
    - id: slow_wave_detector
      filter_id: slow_wave_filter
      z_score_threshold: 2.5
      sinusoidness_threshold: 0.7
      check_sinusoidness: true
      wave_polarity: downwave
      min_wave_length_ms: 250.0
      max_wave_length_ms: 1000.0
    - id: ied_detector
      filter_id: ied_filter
      z_score_threshold: 3.0
      sinusoidness_threshold: 0.0
      check_sinusoidness: false
      wave_polarity: upwave
      min_wave_length_ms: 0.0
      max_wave_length_ms: 0.0

triggers:
  pulse_triggers:
    - id: pulse_trigger
      activation_detector_id: slow_wave_detector
      inhibition_detector_id: ied_detector
      inhibition_cooldown_ms: 2500.0
      pulse_cooldown_ms: 2500.0
